<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>node js</title>
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Khula:700"
      rel="stylesheet"
    />
    <!-- Style  -->
    <link rel="stylesheet" href="styles/style.css" />
    <style>
      .bg {
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .console-container {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh;
      }
    </style>
  </head>
  <body class="bg">
    <div class="flex flex-col h-screen min-h-full">
      <div class="mx-40"></div>
      <div class="flex justify-center console-container">
        <h1 class="text-gray-700 px-6 py-2 font-bold mt-4">sangathamil.com</h1>
      </div>
    </div>
  </body>
</html>
